*{
    font-family: $font-family-sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
// body{
// }
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: $white;
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}

// custom classes 
.bg-grad{
    background: $gradient;
}
.text-grad{
    color:  $gradient;
}
.form-control.is-invalid,.form-control.is-valid{
    background-image: none;
    padding-right: 20px;
    // padding: 0;
}


// Custom Scroll Bar 
/* width */
::-webkit-scrollbar {
    width: 8px;
    // border-radius:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dbdbdb;
     border-radius:5px;
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:$gradient-scroll; 
    //  border-radius:5px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #025be0; 
  }