*{
    font-family: $font-family-sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
// body{
// }
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: $white;
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}



// custom classes 
.bg-grad{
    background: $gradient;
}
.text-grad{
    color:  $gradient;
}