<!-- Main Wrapper  -->
<div class="main_wrapper">
    <div class="border border-end-0 border-top-0 border-start-0">
        <!-- Balance Section  -->
        <div class="p-5 bg-dark text-center">
            <span class="fs-1 text-light fw-light"><span>Total Balace</span><span class="d-block">{{availableBalace || 0}}</span></span>
        </div>
        <!-- add income and expense input  -->
        <div class="d-flex p-4 justify-content-center">
            <app-add-form></app-add-form>
        </div>
    </div>
    <!-- list Section -->
    <div>
        <app-list></app-list>
    </div>
</div>